[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "juicr"]
	path = juicr
	url = https://github.com/mjlajeunesse/juicr
	shallow = true
	registered = true
[submodule "metagear"]
	path = metagear
	url = https://github.com/mjlajeunesse/metagear
	shallow = true
	registered = true
[submodule "switchboard"]
	path = switchboard
	url = https://github.com/mjlajeunesse/switchboard
	shallow = true
	registered = true
