[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "juicr"]
	path = juicr
	url = https://github.com/mjlajeunesse/juicr
[submodule "metagear"]
	path = metagear
	url = https://github.com/mjlajeunesse/metagear
